@use "sass/abstracts" as *;

.wrapper {
  margin-right: 30px;
  display: flex;

  &.grid-template-columns-2 {
    .grid__button {
      &.small,
      &.medium {
        .grid__icon rect {
          fill: #d9d9d9 !important;
        }
      }
      &.big {
        .grid__icon rect {
          fill: #a9a9a9 !important;
        }
      }
    }
  }
  &.grid-template-columns-3 {
    .grid__button {
      &.small,
      &.big {
        .grid__icon rect {
          fill: #d9d9d9 !important;
        }
      }
      &.medium {
        .grid__icon rect {
          fill: #a9a9a9 !important;
        }
      }
    }
  }
  &.grid-template-columns-4 {
    .grid__button {
      &.small {
        .grid__icon rect {
          fill: #a9a9a9 !important;
        }
      }
      &.medium,
      &.big {
        .grid__icon rect {
          fill: #d9d9d9 !important;
        }
      }
    }
  }

  .grid__button {
    padding: 5px;
    margin: 5px;
    border: none;
    background-color: $white-color;
    width: 35px;
    height: 35px;
    cursor: pointer;

    &:hover,
    &:focus {
      &.small,
      &.medium,
      &.big {
        .grid__icon rect {
          fill: #a9a9a9 !important;
        }
      }
    }

    &.small,
    &.medium {
      .grid__icon rect {
        fill: #d9d9d9;
      }
    }

    &.big {
      .grid__icon rect {
        fill: #a9a9a9;
      }
    }

    .grid__icon {
      width: 100%;
      height: 100%;
    }
  }

  @media only screen and (min-width: $screen-width-s-px) {
    .grid__button {
      &.small,
      &.big {
        .grid__icon rect {
          fill: #d9d9d9;
        }
      }
      &.medium {
        .grid__icon rect {
          fill: #a9a9a9;
        }
      }
    }
  }
}
