@use "sass/abstracts" as *;

.image__slider {
  position: relative;
  margin: 0 50px;
  display: flex;
  justify-content: center;

  @media only screen and (min-width: $screen-width-m-px) {
    margin-right: 100px;
    justify-content: flex-end;
  }

  &.slider__transform--left {
    .slide__prev {
      transform: translateX(100%);
      transition: all 0.3s ease;
      z-index: 999;
    }

    .slide__active {
      transform: translateX(100%);
      transition: all 0.3s ease;
    }
  }

  &.slider__transform--right {
    .slide__next {
      transform: translateX(-100%);
      transition: all 0.3s ease;
      z-index: 999;
    }

    .slide__active {
      transform: translateX(-100%);
      transition: all 0.3s ease;
    }
  }

  .control__button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    border: none;
    outline: none;
    font-size: 5rem;
    font-weight: 300;
    background: none;
    cursor: pointer;

    &--left {
      right: 105%;
    }

    &--right {
      left: 105%;
    }
  }

  .slides {
    position: relative;
    overflow: hidden;

    .slide__prev,
    .slide__next {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .slide__prev {
      right: 100%;
    }

    .slide__next {
      left: 100%;
    }

    img {
      width: 220px;
      height: 330px;
      display: block;
      object-fit: cover;

      @media only screen and (min-width: $screen-width-xs-px) {
        width: 270px;
        height: 400px;
      }

      @media only screen and (min-width: $screen-width-s-px) {
        width: 290px;
        height: 430px;
      }

      @media only screen and (min-width: $screen-width-m-px) {
        width: 440px;
        height: 670px;
      }
    }
  }
}
