{
    "extends": [
        "react-app"
    ],
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "import/first": 0,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off"
    }
}