@use "sass/abstracts" as *;

.button {
  padding: 13px 20px;
  outline: none;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: black;
  color: white;
  cursor: pointer;

  &.back {
    padding: 10px 15px;
    border: 1px solid $light-gray;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    background: white;
    color: #333;
  }

  &.wide {
    width: 100%;
  }

  &.hide {
    visibility: hidden;
  }

  &.disableNextStep {
    background: $light-gray;
  }

  &.rubik {
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;
  }
}
