@use "sass/abstracts" as *;

.button {
  padding: 13px 20px;
  outline: none;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: black;
  color: white;
  cursor: pointer;

  &.wide {
    width: 100%;
  }

  &.rubik {
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;
  }
}
