.products__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;

  .product {
    width: 100%;
    max-width: 280px;

    &__images {
      width: 100%;
      max-height: 420px;

      &:hover {
        .image__front {
          display: none;
        }
        .image__back {
          display: block;
        }
      }

      img {
        width: 100%;
        display: block;
        cursor: pointer;
      }

      .image__back {
        display: none;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  @media only screen and (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
