@use "sass/abstracts" as *;

.products__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;

  &.grid-template-columns-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  &.grid-template-columns-3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  &.grid-template-columns-4 {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .product {
    width: 100%;

    &__images {
      width: 100%;

      &:hover {
        .image__front {
          display: none;
        }
        .image__back {
          display: block;
        }
      }

      img {
        width: 100%;
        display: block;
        cursor: pointer;
      }

      .image__back {
        display: none;
      }
    }

    &__name {
      position: relative;
      height: 25px;
      font-size: 1.4rem;

      .name {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__price {
      font-weight: bold;
      font-size: 1.4rem;
    }
  }

  @media only screen and (min-width: 768px) {
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  @media only screen and (min-width: 1024px) {
    width: 900px;
  }

  @media only screen and (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
