@use "sass/abstracts" as *;

.closeButton {
  position: relative;
  width: 26px;
  height: 26px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    width: 15px;
    height: 2px;
    background-color: black;
  }

  &::before {
    transform: translate(-50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%) rotate(-45deg);
  }

  @media only screen and (min-width: $screen-width-l-px) {
    &.hide {
      display: none;
    }
  }
}
