@use "sass/abstracts" as *;

.wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
}

.number {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}

.message {
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (min-width: $screen-width-s-px) {
  .wrapper {
    font-size: 2rem;
    font-weight: 500;
  }

  .number {
    font-size: 10rem;
    font-weight: 600;
  }
}
