@use "sass/abstracts" as *;

.wrapper {
  margin: 0 auto;
  max-width: 720px;
  display: flex;
  flex-direction: column;

  .input__group {
    display: flex;
  }

  .input__box {
    margin: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;

    &.flex-1 {
      flex: 1;
    }
    &.flex-2 {
      flex: 2;
    }
    &.flex-3 {
      flex: 3;
    }
    &.flex-4 {
      flex: 4;
    }
  }
}
