@use "sass/abstracts" as *;

.wrapper {
  position: relative;

  .list__opener {
    padding: 5px 10px;
    outline: none;
    border: 1px solid $gray-color;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    appearance: none;
    background: $white-color;
    cursor: pointer;

    &:focus {
      border: 1px solid $blue-color;

      & ~ .list {
        display: block;
      }
    }

    &--narrow {
      display: block;
      font-weight: 500;
    }
    &--wide {
      display: none;
    }
  }

  .list {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    border-radius: 5px;
    width: 190px;
    display: none;
    background: $white-color;
    overflow: hidden;
    z-index: 1;

    &:active {
      display: block;
    }
  }

  .item {
    padding: 5px 10px;
    border: none;
    border-left: 1px solid $gray-color;
    border-right: 1px solid $gray-color;
    width: 100%;
    background-color: $white-color;
    font-size: 1.6rem;
    text-align: left;
    cursor: pointer;

    &.selected {
      border-left: 1px solid $blue-color;
      border-right: 1px solid $blue-color;
      background: $blue-color;
      color: $white-color;

      &:hover {
        background: $blue-color;
      }
    }

    &:first-child {
      border-top: 1px solid $gray-color;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &.selected {
        border-top: 1px solid $blue-color;
      }
    }
    &:last-child {
      border-bottom: 1px solid $gray-color;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      &.selected {
        border-bottom: 1px solid $blue-color;
      }
    }

    &:hover {
      background: $gray-color;
    }
  }

  @media only screen and (min-width: $screen-width-s-px) {
    width: 190px;

    .list__opener {
      &--narrow {
        display: none;
      }
      &--wide {
        display: block;
      }
    }
  }
}
